.container-bg {
  background-color: #181712;
}

#fullUrl, #shortUrl {
  background-color: #181712;
  color: #fefefe;
}

.input-group-btn {
  background-color: #B7AB5C;
}

#url_list table th {
  color: #fefefe;
  background-color: #6A6A6A;
}

.color-white {
  color: #FFFFFF;
  text-shadow: 5px 5px 5px black;
}

#url i{
  float: right;
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
}

.remove strong:hover {
  cursor: pointer;
}